@font-face {
    font-family: D;
    src: url(../storage/font/spacex/SpaceX.ttf);
}
@font-face {
    font-family: T;
    src: url(../storage/font/nebula/Equinox\ Regular.otf);
}
@font-face {
    font-family: S;
    src: url(../storage/font/nebula/Equinox\ Bold.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}

#imagen{
    position: fixed;
    opacity: 0.7;
    width: 30vw;
    height: auto;
    left: 34vw;
    bottom: 4.2vw;
}

/* search-container */
header {
    margin-bottom: 40px;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: D;
}

#search {
    padding: 10px;
    font-size: 1.1rem;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    width: 90%;
    max-width: 600px;
    text-align: center;
    outline: none;
    transition: border-color 0.3s;
    font-family: D;
}

#search:focus {
    border-bottom: 2px solid #00bcd4; 
}
/* capsules-container */
.capsules-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    font-family: S;
    z-index: 2;
}

.capsule {
    background-color: #1a1a1a81;;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    width: 300px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 2;
}

.capsule strong{
    color: white;
}

.capsule:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #bbca3888;
}

.capsule.active {
    border: 2px solid #00bcd4; 
}

.capsule h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
}

.capsule p {
    font-size: 1rem;
    color: #aaa;
    margin-bottom: 10px;
}
/* Main-Container */
.menu-container {
    position: fixed;
    width: 35%;
    background-color: transparent;
    margin-left: 21vw;
    width: 50vw;
    border: 4vw solid transparent;
    bottom: -3.5vh;
    border-bottom: 6vw solid #151515;
    z-index: 2;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    z-index: 2;
    font-size: 1vw;
    left: 5vw;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 3vw;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(187, 187, 187);
    z-index: 2;
}

.menu img {
    width: 2vw;
    height: 2vw;
    margin-bottom: 0.1vw;
    margin-top: 0.4vw;
    z-index: 2;
}

.menu li:hover a {
    color: #ffffff;
    z-index: 2;
}
.menu li:hover hr {
    color: #ffffff;
    z-index: 2;
    opacity: 1;
}
.menu li hr {
    width: 5vw;
    height: 0.1vw;
    opacity: 0;
    background-color: #ffffff;
    border-radius: 2vw;
}


.linea {
    position: fixed;
    background-color: #151515;
    width: 102vw;
    height: 3vh;
    bottom: -1.5vh;
    margin-left: -2vw;
}

#id{
    color: #bcca38;
}

#menuHambur {
    display: none;
}

.menu-icon {
    display: none;
}

#home{
    position: fixed;
    width: 5vw;
    height: 1.5vw;
    border: 1px solid white;
    top: 39.5vw;
    left: 2vw;
    background-color: transparent;
    overflow: hidden;
    border-radius: 2px;
    font-family: D;
}


#home::before{
    content: '';
    bottom: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: bottom 0.3s ease;
}


#home:hover::before{
    bottom: 0;
}

#home:not(:hover)::before{
    bottom: 100%;
    transition: bottom 0.3s ease;
}

#TextHome{
    position: absolute;
    font-size: 0.8vw;
    color: white;
    padding-left: 0.7vw;
    padding-top: 0.15vw;
}

#TextHome:hover{
    color: black;
}

#menuHambur{
    display: none;
}
.menu-icon{
    display: none;
}

/* Responsive */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .capsule {
        width: 90%;
    }

    #search {
        width: 100%;
        max-width: 400px;
    }
    #menuHambur {
        display: none;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 10px;
        left: 15px;
        font-size: 40px;
        z-index: 1001;
        cursor: pointer;
        background: rgba(255, 255, 255, 0);
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    .menu{
        position: fixed;
        top: 0vw;
        left: -80%;
        width: 80%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.893);
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 50px;
        transition: 0.3s;
        z-index: 1000;
        overflow-y: auto;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        font-size: 4vw;
    }
    .menu ul{
        display: flex;
        flex-direction: column;
    }
    .menu img {
        width: 10vw;
        height: 10vw;
        z-index: 2;
    }
    .menu li a {
        margin-left:1vw ;
        margin-top: 10vw;
    }
    
    .menu li:hover a {
        color: #ffffff;
        z-index: 2;
        margin-left:4vw ;
    }
    .menu li:hover hr {
        color: #ffffff;
        z-index: 2;
        opacity: 1;
    }
    .menu li hr {
        width: 15vw;
        height: 0.4vw;
        opacity: 0;
        background-color: #ffffff;
        border-radius: 2vw;
    }
    #menuHambur:checked ~ .menu-container .menu {
        left: 0;
    }
    #imagen{
        position: fixed;
        opacity: 0.7;
        width: 100vw;
        height: auto;
        left: 2vw;
        bottom: 0vw;
    }
    #home{
        position: fixed;
        width: 15vw;
        height: 4vw;
        border: 1px solid white;
        top: 8vw;
        left: 80vw;
        background-color: transparent;
        overflow: hidden;
        border-radius: 2px;
        font-family: D;
        z-index: 1;
    }
    #home::before{
        content: '';
        bottom: 100%;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        transition: bottom 0.3s ease;
    }
    
    
    #home:hover::before{
        bottom: 0;
    }
    
    #home:not(:hover)::before{
        bottom: 100%;
        transition: bottom 0.3s ease;
    }
    
    #TextHome{
        position: absolute;
        font-size: 3vw;
        color: white;
        padding-left: 0.7vw;
        padding-top: 0.15vw;
    }
    
    #TextHome:hover{
        color: black;
    }
    header {
        margin-top: 40px;
    }
    #search{
        width: 80%;
        font-size: 2.6vw;
    } 
}
