@font-face {
    font-family: D;
    src: url(../storage/font/spacex/SpaceX.ttf);
}


@font-face {
    font-family: T;
    src: url(../storage/font/nebula/Equinox\ Regular.otf);
}
h1{
    font-family: d;
    font-size: 3vw;
    z-index: 2;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header{
    /* border: 1px solid rgb(255, 255, 255); */
    width: 100vw;
    justify-content: center;
    display: flex;
    margin-top: 2vw;
    border-radius: 2vw;
}

#here{
    position: absolute;
    font-size: 2vw;
    width: 17vw;
    height: 2vw;
    top: 8vw;
    left: 41.7vw;
    font-family: D;
}

#textCity{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 7vw;
    left: 3.7vw;
    font-family: T;
    z-index: 2;

}


#city{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 7vw;
    left: 7vw;
    font-family: T;
    z-index: 2;
}

#textState{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 9vw;
    left: 3.3vw;
    font-family: T;
}

#state{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 9vw;
    left: 7.3vw;
    font-family: T;

}

#textFounder{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 5vw;
    left: 2vw;
    font-family: T;
}

#founder{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 5vw;
    left: 7.4vw;
    font-family: T;
}

#textFounded{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 12vw;
    left: -1.5vw;
    font-family: T;
    text-decoration-line: underline;
    text-align: center;
}

#founded{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 14vw;
    left: -1.5vw;
    font-family: T;
    
    text-align: center;
}

#textEmployees{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;
    text-decoration-line: underline;
    

}

#employees{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 2.6vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;
    

}

#textVehicles{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 4.5vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;
    text-decoration-line: underline;
    

}

#vehicles{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 6vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;
   

}

#textlaunch_sites{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 8vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;
    text-decoration-line: underline;
    

}

#launch_sites{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 10vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;
    

}

#textCeo{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;
    text-decoration-line: underline;
    
}

#ceo{
    position: absolute;
    font-size: 0.8vw;
    width: 17vw;
    height: 2vw;
    top: 2.8vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;
}

#textCoo{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 4vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;
    text-decoration-line: underline;
}

#coo{
    position: absolute;
    font-size: 0.8vw;
    width: 17vw;
    height: 2vw;
    top: 6vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;

}

#textCto_propulsion{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 8vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;
    text-decoration-line: underline;
}

#cto_propulsion{
    position: absolute;
    font-size: 0.8vw;
    width: 17vw;
    height: 2vw;
    top: 10vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;

}

#textValuation{
    position: absolute;
    font-size: 1vw;
    width: 17vw;
    height: 2vw;
    top: 12vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;
    text-decoration-line: underline;
}

#valuation{
    position: absolute;
    font-size: 0.8vw;
    width: 17vw;
    height: 2vw;
    top: 14vw;
    left: -1.5vw;
    text-align: center;
    font-family: T;
}





/* #headquarters{
    position: absolute;
    top: 8vw;
    font-size: 1.4vw;
    left: 1vw;
    
} */

#here{
    z-index: 2;
}

#cohete1{
    position: absolute;
    width: 100vw;
    height: 50vw;
    left: 0vw;
    top: -1vw;
    /* top: 6.7vw; */
    border-radius: 2vw;
    opacity: 0.6;
    
   
}

#photo{
    position: absolute;
    width: 30vw;
    height: 20vw;

    left: 67vw;
    top: 8vw;
    border-radius: 2vw;
}
#Elonk{
    position: absolute;
    width: 30vw;
    height: 18vw;
    border: 1px solid #ffffff ;
    border-radius: 2vw;
    /* box-shadow: 1px 1px 50px 3px #00bcd4 ; */
}

#Elonk1{
    position: absolute;
    width: 30vw;
    top: 19vw;
    height: 18vw;
    border: 1px solid rgb(92, 47, 151);
    border-radius: 2vw;
    box-shadow: 3px 5px 3px 3px ;
}


#sumary{
    position: absolute;
    font-size: 0.7vw;
    font-family: T;
    top: 44vw;
    width: 100%;
    text-align: center;
}


/* #carrusel{
    position: absolute;
    border: 1px solid white;
    width: 15vw;
    height: 18vw;
    top: 28vw;
    border-radius: 1vw;

}

#carrusel1{
    position: absolute;
    border: 1px solid white;
    width: 15vw;
    height: 18vw;
    top: 28vw;
    border-radius: 1vw;

}

#carrusel2{
    position: absolute;
    border: 1px solid white;
    width: 15vw;
    height: 18vw;
    top: 28vw;
    border-radius: 1vw;

} */
.image_section {
    position: absolute;
    width: 15vw;
    height: 18vh;
    top: 22.5vw;
    border-radius: 1vw;
    left: 42.5vw;
}

.carousel-container {
    position: relative;
    width: 15vw;
    height: 40vh;
    overflow: hidden;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.422);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.237);
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    animation: fill 2s ease-in-out forwards; 
    
}

/* ///////////////////// */

.image_section1 {
    position: absolute;
    width: 15vw;
    height: 18vh;
    top: 27.4vw;
    border-radius: 1vw;
    left: 22.5vw;
}

.carousel-container1 {
    position: relative;
    width: 15vw;
    height: 30vh;
    overflow: hidden;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.422);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.237);
}

.carousel1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#carouselImage1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    animation: fill 2s ease-in-out forwards; 
    
}

/* /////////////////////////////////////// */

.image_section2 {
    position: absolute;
    width: 15vw;
    height: 18vh;
    top: 27.4vw;
    border-radius: 1vw;
    left: 62.5vw;
}

.carousel-container2 {
    position: relative;
    width: 15vw;
    height: 30vh;
    overflow: hidden;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.422);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.237);
}

.carousel2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#carouselImage2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    animation: fill 2s ease-in-out forwards; 
    
}

@keyframes fill {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.menu-container {
    position: absolute;
    width: 35%;
    background-color: transparent;
    margin-left: 21vw;
    width: 50vw;
    border: 4vw solid transparent;
    bottom: -3.5vh;
    border-bottom: 6vw solid #151515;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    z-index: 2;
    font-size: 1vw;
    left: 5vw;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 3vw;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(187, 187, 187);
    z-index: 2;
}

.menu img {
    width: 2vw;
    height: 2vw;
    margin-bottom: 0.1vw;
    margin-top: 0.4vw;
    z-index: 2;
}

.menu li:hover a {
    color: #ffffff;
    z-index: 2;
}
.menu li:hover hr {
    color: #ffffff;
    z-index: 2;
    opacity: 1;
}
.menu li hr {
    margin-top: 0.1vw;
    width: 5vw;
    height: 0.1vw;
    opacity: 0;
    background-color: #ffffff;
    border-radius: 2vw;
}


.linea {
    position: absolute;
    background-color: #151515;
    width: 100vw;
    height: 3vh;
    bottom: -1.5vh;
}

#cuadro1{
    position: absolute;
    left: 22.5vw;
    width: 12vw;
    height: 16vw;
    position: absolute;
    border: 1px solid white;
    border-radius: 2vw;
    border-color: #00bcd4;
    align-items: baseline;
    display: flex;
    background-color: #1d1d1d4b;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.196);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: S;
    border: 1px solid #333;
}

.carousel-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #bbca3888;
}

.carousel-container1:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #bbca3888;
}

.carousel-container2:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #bbca3888;
}

#cuadro1:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #bbca3888;
}

#cuadro2:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #bbca3888;
}

#cuadro3:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #bbca3888;
}

#cuadro2{
    position: absolute;
    width: 14.3vw;
    height: 11vw;
    left: 41.5vw;
    border: 1px solid white;
    border-radius: 2vw;
    border-color: #00bcd4;
    background-color: #1d1d1d4b;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.196);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: S;
    border: 1px solid #333;
}

#cuadro3{
    position: absolute;
    width: 12vw;
    height: 16vw;
    left:63vw;
    border: 1px solid white;
    border-radius: 2vw;
    border-color: #00bcd4;
    background-color: #1d1d1d4b;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.196);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: S;
    border: 1px solid #333;
}



#home{
    position: fixed;
    width: 5vw;
    height: 1.5vw;
    border: 1px solid white;
    top: 42vw;
    left: 6vw;
    background-color: transparent;
    overflow: hidden;
    border-radius: 2px;
    font-family: D;
    z-index: 1;
}


#home::before{
    content: '';
    bottom: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: bottom 0.3s ease;
}


#home:hover::before{
    bottom: 0;
}

#home:not(:hover)::before{
    bottom: 100%;
    transition: bottom 0.3s ease;
}

#TextHome{
    position: absolute;
    font-size: 0.8vw;
    color: white;
    padding-left: 0.7vw;
    padding-top: 0.15vw;
}

#TextHome:hover{
    color: black;
}


#x{
    position: absolute;
    left: 85vw;
    top: 45vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: white;

}

#xx{
    position: absolute;
    left: -0.3vw;
    top: -0.3vw;
    width: 2vw;
    height: 2vw;
}

#fl{
    position: absolute;
    left: 87.5vw;
    top: 44.5vw;
    width: 2vw;
    height: 2vw;
    background-color: white;


}

#fll{
    position: absolute;
    left: -0.3vw;
    top: -0.3vw;
    width: 3vw;
    height: 3vw;
}

#cohete22{
    display: none;
}

#fondito{
    display: none;
}
#menuHambur{
    display: none;
}
.menu-icon{
    display: none;
}

@media (max-width: 768px) {

    #fondito{
        margin-top: -16vw;
        height: 100vh;
        width: 100vw;
        display: block;
        position: fixed;
        z-index: -1;
        opacity: 0.7;
    }

    h1{
        position: absolute;
        top: 15vw;
        font-family: d;
        font-size: 9vw;
        z-index: 2;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        
        overflow: scroll;
       
    }
    
    header{
        /* border: 1px solid rgb(255, 255, 255); */
        width: 100vw;
        justify-content: center;
        display: flex;
        margin-top: 2vw;
        border-radius: 2vw;
    }

    #cohete1{
        display: none;
    }

    #here{
        position: absolute;
        font-size: 6vw;
        top: 26vw;
        left: 30vw;
    }

    #cuadro2{

        position: absolute;
        top: 36vw;
        width: 28%;
        height: 23vw;
        left: 7vw;
        border: 1px solid white;
        
    }

    #textFounder{
        position: absolute;
        top: 2vw;
        font-size: 3vw;
        left: 5vw;
    }

    #founder{
        position: absolute;
        top: 2vw;
        font-size: 3vw;
        left: 50%;
    }

    #textCity{
        position: absolute;
        top: 10vw;
        font-size: 3vw;
        left: 7vw;
    }

    .linea{
        display: none;
    }
    #city{
        position: absolute;
        top: 10vw;
        font-size: 3vw;
        left: 42%;
    }

    #textState{
        position: absolute;
        top: 19vw;
        font-size: 3vw;
        left: 7vw;
    }

    #state{
        position: absolute;
        top: 19vw;
        font-size: 3vw;
        left: 45%;
    }

    #cuadro1{
        
        position: absolute;
        top: 36vw;
        width: 30%;
        height: 23vw;
        left: 50vw;
        border: 1px solid white;
        
    }

    body{
        height: 115vh;
    }



    #x,#fl{
        position: absolute;
        display: none;   
    }

    #textEmployees{
        position: absolute;
        top: 2vw;
        font-size: 3vw;
        left: 30%;
    }

    #employees{
        position: absolute;
        top: 6vw;
        font-size: 3vw;
        left: 30%;
    }

    #textVehicles{
        position: absolute;
        top: 10vw;
        font-size: 3vw;
        left: 30%;
    }

    #vehicles{
        position: absolute;
        top: 14vw;
        font-size: 3vw;
        left: 30%;
    }

    #textlaunch_sites{
        position: absolute;
        width: 20.3vw;
        top: 18vw;
        font-size: 3vw;
        left: 25%;
    }

    #launch_sites{
        position: absolute;
        top: 22vw;
        font-size: 3vw;
        left: 30%;
    }

    #textFounded{
        position: absolute;
        width: 20.3vw;
        top: 26vw;
        font-size: 3vw;
        left: 26%;
    }
    
    #founded{
        position: absolute;
        top: 30vw;
        font-size: 3vw;
        left: 30%;
    }

    #cuadro3{
        position: absolute;
        border: 3px solid red;
        top: 145vw;
        display: none;
    }

    .carousel-container{
        position: absolute;
        top:52vw;
        width: 570%;
        left: -35.5vw;
        z-index: 2;
        border-radius: 4vw;
        
    }

    .carousel-container1{
        margin-top: 149vw;
        width: 550%;
        height: 40vw;
        left: -15vw;
        z-index:3;   
        border-radius: 6vw;
    }

    .carousel-container2{
       display: none;
    }

   
    #home{
        position: fixed;
        width: 15vw;
        height: 4vw;
        border: 1px solid white;
        top: 8vw;
        left: 80vw;
        background-color: transparent;
        overflow: hidden;
        border-radius: 2px;
        font-family: D;
        z-index: 1;
    }
    #home p{
        position: absolute;
        font-size: 3vw;
        color: white;
        padding-left: 0.7vw;
        padding-top: 0.15vw;
    }

    #menuHambur {
        display: none;
    }
    
    .menu-icon {
        display: block;
        position: fixed;
        top: 10px;
        left: 15px;
        font-size: 40px;
        z-index: 1001;
        cursor: pointer;
        background: rgba(255, 255, 255, 0);
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    .menu{
        position: fixed;
        top: 0vw;
        left: -80%;
        width: 80%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.893);
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 50px;
        transition: 0.3s;
        z-index: 1000;
        overflow-y: auto;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        font-size: 4vw;
    }
    .menu ul{
        display: flex;
        flex-direction: column;
    }
    .menu img {
        width: 10vw;
        height: 10vw;
        z-index: 2;
    }
    .menu li a {
        margin-left:1vw ;
        margin-top: 10vw;
    }
    
    .menu li:hover a {
        color: #ffffff;
        z-index: 2;
        margin-left:4vw ;
    }
    .menu li:hover hr {
        color: #ffffff;
        z-index: 2;
        opacity: 1;
    }
    .menu li hr {
        width: 15vw;
        height: 0.4vw;
        opacity: 0;
        background-color: #ffffff;
        border-radius: 2vw;
    }
    #menuHambur:checked ~ .menu-container .menu {
        left: 0;
    }

    #sumary{
        
        position: absolute;
        font-size: 3vw;
        font-family: T;
        top: 156vw;
        width: 80%;
        left: 10vw;
        font-weight: bold;
        text-align: center;
    }
  

   

}
