* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0d1b2a;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header{
    border: 1px solid red;
    width: 50vw;
    justify-content: center;
    display: flex;
    margin-left: 23vw;
    margin-top: 2vw;
}

.system-check{
    border: 1px solid red;
    width: 20vw;
    height: 70vh;
    margin-top: vw;
}
.main-display{
    border: 1px solid red;
    width: 53vw;
    height: 25vh;
    margin-left: 22vw;
    margin-top: -32.5vw;
}
.loop-power1{
    border: 1px solid red;
    width: 20vw;
    height: 20vh;
    margin-left: 22vw;
}
.loop-power2{
    border: 1px solid red;
    width: 20vw;
    height: 20vh;
    margin-left: 55vw;
    margin-top: -9.7vw;
}
.connections{
    border: 1px solid red;
    width: 15vw;
    height: 20vh;
    margin-left: 22vw;
    padding-left: 2vw;
}
.velocity-range{
    border: 1px solid red;
    width: 20vw;
    height: 70vh;
    margin-left: 77vw;
    margin-top: -32.5vw;
}

.menu-container {
    width: 40%;
    background-color: transparent;
    margin-left: 28vw;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14213d;
    border-radius: 0.5vw;
    margin-top: 6vw;
    z-index: 2;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 40px;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

.menu img {
    width: 27px;
    height: 27px;
    margin-bottom: 2px;
    margin-top: 4px;
}

.menu li.active a {
    color: #fca311;
}

.menu li.active::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fca311;
    margin-top: 5px;
    border-radius: 3px;
}

.Footer{
    border: 1px solid red;
    width: 20vw;
    height: 4vh;
    margin-left: 77vw;
    margin-top: -32.5vw;
}
.linea{
    background-color: #14213d;
    width: 100vw;
    height: 1.2vh;
    margin-top: -0.5vw;
    z-index: 2;
}
.a{
    margin-top: -3.5vw;
    width: 10vw;
    height: 0;
    border: 60px solid transparent;
    border-top: 0;
    border-bottom: 50px solid #14213d;
    margin-left: 24vw;
}
.b{
    margin-top: -3.2vw;
    width: 10vw;
    height: 0;
    border: 60px solid transparent;
    border-top: 0;
    border-bottom: 50px solid #14213d;
    margin-left: 54.1vw;
}