@font-face {
    font-family: D;
    src: url(../storage/font/spacex/SpaceX.ttf);
}
@font-face {
    font-family: T;
    src: url(../storage/font/nebula/Equinox\ Regular.otf);
}
@font-face {
    font-family: S;
    src: url(../storage/font/nebula/Equinox\ Bold.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #12152d;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Header Section */
header {
    top: 3vh;
    position: absolute;
    width: 100vw;
    justify-content: center;
    display: flex;
    font-family: D;
    font-size: 1vw;
    font-weight: bold;
}

/* System Check Section */
.system-check {
    position: absolute;
    width: 30vw;
    height: 70vh;
    top: 4vh;
}

.system-check #pa {
    margin-left: 6.5vw;
    margin-top: -1.4vw;
    font-family: S;
    font-size: 0.8vw;
}

.system-check img {
    margin-top: 2vw;
    margin-left: 4vw;
    width: 1.3vw;
}

.system-check #pb {
    margin-left: 6.5vw;
    margin-top: 0.1vw;
    font-family: T;
    font-size: 0.6vw;
    color: rgb(153, 153, 153);
}

/* Main Display Section */
.main-display {
    position: absolute;
    width: 53vw;
    height: 25vh;
    left: 22vw;
    top: 10vh;
    font-family: T;
}

svg {
    width: 20vw;
    height: 20vw;
    background-color: #171832;
}

.c1 {
    position: absolute;
    top: 0.6vw;
    left: 5vw;
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 21px 3px rgba(0,0,0,0.75);
}

#color1 {
    fill: none;
    stroke-width: 0.5vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 15 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: rgb(255, 255, 0);
    animation: cargar 2s forwards ease-in-out;
}

#color2 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 65 100;
    transform: rotate(179deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}

.c2 {
    position: absolute;
    top: 0.6vw;
    left: 16vw;
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 21px 3px rgba(0,0,0,0.75);
}

#color3 {
    fill: none;
    stroke-width: 0.5vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 7 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: rgb(255, 0, 0);
    animation: cargar 2s forwards ease-in-out;
}

#color4 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 73 100;
    transform: rotate(150deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}

.c3 {
    position: absolute;
    top: 0.6vw;
    left: 27vw;
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 21px 3px rgba(0,0,0,0.75);
}

#color5 {
    fill: none;
    stroke-width: 0.5vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 15 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: rgb(255, 255, 0);
    animation: cargar 2s forwards ease-in-out;
}

#color6 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 65 100;
    transform: rotate(179deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}

.c4 {
    position: absolute;
    top: 0.6vw;
    left: 38vw;
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 21px 3px rgba(0,0,0,0.75);
}

#color7 {
    fill: none;
    stroke-width: 0.5vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 20 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: #298bfe;
    animation: cargar 2s forwards ease-in-out;
}

#color8 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 60 100;
    transform: rotate(196deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}

@keyframes cargar {
    0% {
        stroke-dashoffset: 100;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.data-display1 h3 {
    position: absolute;
    left: 8.7vw;
    top: 3vw;
    font-size: 0.8vw;
    font-weight: lighter;
}

.data-display1 h2 {
    position: absolute;
    left: 8vw;
    top: 4vw;
    font-size: 2vw;
}

.data-display1 p {
    position: absolute;
    left: 8.7vw;
    top: 7vw;
    font-size: 1.1vw;
    font-weight: lighter;
}

.data-display2 h3 {
    position: absolute;
    left: 19vw;
    top: 3vw;
    font-size: 0.8vw;
    font-weight: lighter;
}

.data-display2 h2 {
    position: absolute;
    left: 19.1vw;
    top: 4vw;
    font-size: 2vw;
}

.data-display2 p {
    position: absolute;
    left: 20.1vw;
    top: 7vw;
    font-size: 1.1vw;
    font-weight: lighter;
}

.data-display3 h3 {
    position: absolute;
    left: 29.2vw;
    top: 3vw;
    font-size: 0.8vw;
    font-weight: lighter;
}

.data-display3 h2 {
    position: absolute;
    left: 29.5vw;
    top: 4vw;
    font-size: 2vw;
}

.data-display3 p {
    position: absolute;
    left: 31vw;
    top: 7vw;
    font-size: 1.1vw;
    font-weight: lighter;
}

.data-display4 h3 {
    position: absolute;
    left: 42vw;
    top: 3vw;
    font-size: 0.8vw;
    font-weight: lighter;
}

.data-display4 h2 {
    position: absolute;
    left: 41vw;
    top: 4vw;
    font-size: 2vw;
}

.data-display4 p {
    position: absolute;
    left: 41.2vw;
    top: 7vw;
    font-size: 1.1vw;
    font-weight: lighter;
}

/* Loop and Power Section */
.loop-power1 {
    position: absolute;
    width: 10vw;
    height: 20vh;
    left: 20vw;
    top: 33vh;
    font-family: T;
}

svg .a1 {
    width: 10vw;
    height: 10vw;
    background-color: #42d849;
}

.a1 {
    position: absolute;
    top: 0.6vw;
    left: 1vw;
    width: 7vw;
    height: 7vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 21px 3px rgba(0,0,0,0.75);
}

#col1 {
    fill: none;
    stroke-width: 0.5vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 15 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: rgb(255, 255, 0);
    animation: cargar 2s forwards ease-in-out;
}

#col2 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 65 100;
    transform: rotate(179deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}
.loop1 h3 {
    position: absolute;
    left: 3.7vw;
    top: 2vw;
    font-size: 0.6vw;
    font-weight: lighter;
    z-index: 2;
}

.loop1 h2 {
    position: absolute;
    left: 3.5vw;
    top: 3.5vw;
    font-size: 1vw;
    z-index: 2;
}

.loop1 p {
    position: absolute;
    left: 3.5vw;
    top: 5.2vw;
    font-size: 0.7vw;
    font-weight: lighter;
    z-index: 2;
}

.a2 {
    position: absolute;
    top: 0.6vw;
    left: 9vw;
    width: 7vw;
    height: 7vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 21px 3px rgba(0,0,0,0.75);
}

#col3 {
    fill: none;
    stroke-width: 0.5vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 7 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: rgb(255, 0, 0);
    animation: cargar 2s forwards ease-in-out;
}

#col4 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 73 100;
    transform: rotate(150deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}
.loop2 h3 {
    position: absolute;
    left: 11.7vw;
    top: 2vw;
    font-size: 0.6vw;
    font-weight: lighter;
    z-index: 2;
}

.loop2 h2 {
    position: absolute;
    left: 11.4vw;
    top: 3.5vw;
    font-size: 1vw;
    z-index: 2;
}

.loop2 p {
    position: absolute;
    left: 11.3vw;
    top: 5.2vw;
    font-size: 0.7vw;
    font-weight: lighter;
    z-index: 2;
}
.loop-power2 {
    position: absolute;
    width: 20vw;
    height: 20vh;
    left: 55vw;
    top: 33vh;
    font-family: T;
}

.a3 {
    position: absolute;
    top: 0.6vw;
    left: 5.8vw;
    width: 7vw;
    height: 7vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 21px 3px rgba(0,0,0,0.75);
}
#col5 {
    fill: none;
    stroke-width: 0.5vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 15 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: rgb(255, 255, 0);
    animation: cargar 2s forwards ease-in-out;
}

#col6 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 65 100;
    transform: rotate(179deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}
.loop3 h3 {
    position: absolute;
    left: 8.6vw;
    top: 2vw;
    font-size: 0.6vw;
    font-weight: lighter;
    z-index: 2;
}

.loop3 h2 {
    position: absolute;
    left: 8.3vw;
    top: 3.5vw;
    font-size: 1vw;
    z-index: 2;
}

.loop3 p {
    position: absolute;
    left: 8.2vw;
    top: 5.2vw;
    font-size: 0.7vw;
    font-weight: lighter;
    z-index: 2;
}
.a4 {
    position: absolute;
    top: 0.6vw;
    left: 13.7vw;
    width: 7vw;
    height: 7vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 21px 3px rgba(0,0,0,0.75);
}
#col7 {
    fill: none;
    stroke-width: 0.5vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 20 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: #298bfe;
    animation: cargar 2s forwards ease-in-out;
}

#col8 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 60 100;
    transform: rotate(196deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}
.loop4 h3 {
    position: absolute;
    left: 16.5vw;
    top: 2vw;
    font-size: 0.6vw;
    font-weight: lighter;
    z-index: 2;
}

.loop4 h2 {
    position: absolute;
    left: 16.3vw;
    top: 3.5vw;
    font-size: 1vw;
    z-index: 2;
}

.loop4 p {
    position: absolute;
    left: 16.2vw;
    top: 5.2vw;
    font-size: 0.7vw;
    font-weight: lighter;
    z-index: 2;
}
/* Connections Section */
.connections {
    position: absolute;
    width: 15vw;
    height: 30vh;
    left: 20vw;
    top: 50vh;
    padding-left: 1.5vw;
    font-family: D;
}
.connections h3{
    padding-top: 0.5vw;
    font-size: 0.7vw;
}
.connections ul {
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    font-size: 0.8vw;
    font-family: S;
}
.connections p {
    padding-top: 1 vw;
}
#Information p{
    color: rgb(170, 170, 170);
    font-size: 0.7vw;
}
#Information span{
    color: rgb(255, 255, 255);
    font-family: t;
}

/* Imagenes Section */
.image_section {
    position: absolute;
    width: 21vw;
    height: 40vh;
    left: 38vw;
    top: 35vh;
    border-radius: 1vw;
}

.carousel-container {
    position: relative;
    width: 21vw;
    height: 40vh;
    overflow: hidden;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.422);
    box-shadow: 1px 1px 21px 3px rgba(0,0,0,0.75);
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    animation: fill 2s ease-in-out forwards; 
}
@keyframes fill {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* description Section */
#description_section{
    position: absolute;
    width: 50vw;
    height: 10vh;
    left: 24vw;
    top: 85vh;
    border-radius: 1vw;
    text-align: center;
    font-family: T;
    font-size: 0.7vw;
}
/* Rockets Section */
.rockets {
    width: 10%;
    display: flex;
    gap: 2vw;
    border: 1px solid red;
    margin-left: 80vw;
    margin-top: 2vw;
}

/* Main-Container */
.menu-container {
    position: absolute;
    width: 35%;
    background-color: transparent;
    margin-left: 21vw;
    width: 50vw;
    border: 4vw solid transparent;
    bottom: -3.5vh;
    border-bottom: 6vw solid #14213d;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    z-index: 2;
    font-size: 1vw;
    left: 5vw;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 3vw;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(187, 187, 187);
    z-index: 2;
}

.menu img {
    width: 2vw;
    height: 2vw;
    margin-bottom: 0.1vw;
    margin-top: 0.4vw;
    z-index: 2;
}

.menu li.active a {
    color: #ffffff;
    z-index: 2;
}

.menu li.active::after {
    content: '';
    display: block;
    width: 5vw;
    height: 0.2vw;
    background-color: #ffffff;
    margin-top: 0.2vw;
    border-radius: 0.1vw;
    z-index: 2;
}

.linea {
    position: absolute;
    background-color: #14213d;
    width: 100vw;
    height: 3vh;
    bottom: -1.5vh;
}

/* Velocity and Range Section */

.velocity-range {
    position: absolute;
    width: 20vw;
    height: 70vh;
    left: 77vw;
    top: 4vh;
    font-family: S;
}
.velocity-range  h3 {
    font-size: 0.9vw;
}
.velocity-range  p {
    font-size: 0.8vw;
}
.velocity-range #data-velocity h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity p {
    margin-top: -0.5vw;
    margin-left: 15vw;
}

.velocity-range #data-velocity2 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity2 p {
    margin-top: -0.5vw;
    margin-left: 15vw;
}

.velocity-range #data-velocity3 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity3 p {
    margin-top: -0.5vw;
    margin-left: 15vw;
}

.velocity-range #data-velocity4 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity4 p {
    margin-top: -0.5vw;
    margin-left: 15vw;
}

.velocity-range #data-velocity5 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity5 p {
    margin-top: -0.5vw;
    margin-left: 15vw;
}

.velocity-range #data-velocity6 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity6 p {
    margin-top: -0.5vw;
    margin-left: 15vw;
}

.bar {
    background-color: #30344c;
    height: 0.4vw;
    width: 12vw;
    margin-top: 4vw;
    border-radius: 8vw;
    overflow: hidden;
}

.porcent1 {
    width: 0;
    height: 100%;
    background-color: #298bfe;
    border: #298bfe;
    animation: fillBar 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: 20%;
    }
}

.porcent2 {
    width: 0;
    height: 100%;
    background-color: #298bfe;
    border: #298bfe;
    animation: fillBar2 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar2 {
    from {
        width: 0;
    }

    to {
        width: 18%;
    }
}

.porcent3 {
    width: 0;
    height: 100%;
    background-color: #298bfe;
    border: #298bfe;
    animation: fillBar3 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar3 {
    from {
        width: 0;
    }

    to {
        width: 10%;
    }
}

.porcent4 {
    width: 0;
    height: 100%;
    background-color: #298bfe;
    border: #298bfe;
    animation: fillBar4 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar4 {
    from {
        width: 0;
    }

    to {
        width: 8%;
    }
}

.porcent5 {
    width: 0;
    height: 100%;
    background-color: #298bfe;
    border: #298bfe;
    animation: fillBar5 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar5 {
    from {
        width: 0;
    }

    to {
        width: 10%;
    }
}

.porcent6 {
    width: 0;
    height: 100%;
    background-color: #298bfe;
    border: #298bfe;
    animation: fillBar6 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar6 {
    from {
        width: 0;
    }

    to {
        width: 12%;
    }
}

/* Footer Section */

.Footer {
    border: 1px solid red;
    width: 20vw;
    height: 4vh;
    margin-left: 77vw;
    margin-top: -10vh;
}

/*Prueba */