@font-face {
    font-family: D;
    src: url(../storage/font/spacex/SpaceX.ttf);
}

h1{
    font-family: d;
    font-size: 3vw;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0d1b2a;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header{
    border: 1px solid rgb(255, 255, 255);
    width: 100vw;
    justify-content: center;
    display: flex;
    margin-top: 2vw;
    border-radius: 2vw;
}

#home{
    position: absolute;
    width: 4vw;
    height: 1.7vw;
    border: 1px solid white;
    top: 45.7vw;
    left: 6vw;
    background-color: transparent;
    overflow: hidden;
    border-radius: 2px;
}


#home::before{
    content: '';
    bottom: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: bottom 0.3s ease;
}


#home:hover::before{
    bottom: 0;
}

#home:not(:hover)::before{
    bottom: 100%;
    transition: bottom 0.3s ease;
}

#TextHome{
    position: absolute;

    font-size: 1.4vw;
    color: white;
}

#TextHome:hover{
    color: black;
}



/* Main-Container */
/* .menu-container {
    position: absolute;
    width: 35%;
    background-color: transparent;
    margin-left: 21vw;
    width: 50vw;
    border: 4vw solid transparent;
    bottom: -2vh;
    border-bottom: 6vw solid #14213d;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    z-index: 2;
    font-size: 1vw;
    left: 5vw;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 3vw;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(187, 187, 187);
    z-index: 2;
}

.menu img {
    width: 2vw;
    height: 2vw;
    margin-bottom: 0.1vw;
    margin-top: 0.4vw;
    z-index: 2;
}

.menu li.active a {
    color: #ffffff;
    z-index: 2;
}

.menu li.active::after {
    content: '';
    display: block;
    width: 5vw;
    height: 0.2vw;
    background-color: #ffffff;
    margin-top: 0.2vw;
    border-radius: 0.1vw;
    z-index: 2;
}

.linea {
    position: absolute;
    background-color: #14213d;
    width: 100vw;
    height: 3vh;
    bottom: -1.5vh;
} */



.menu-container {
    position: absolute;
    background-color: transparent;
    margin-left: 21vw;
    width: 50vw;
    border: 4vw solid transparent;
    bottom: -2vh;
    border-bottom: 6vw solid #14213d;
}


#titulo{
    position: absolute;
    width: 40vw;
    height: 15vw;
    border: 1.5px solid white;
    top: 7.3vw;
    border-radius: 2vw;
    
}

#titulo h1{
    position: absolute;
    font-size: 2vw;
    top: 3.7vw;
    left: 3.5vw;
    
}

#detalles{
    position: absolute;
    width: 59vw;
    height: 15vw;
    border: 1.5px solid white;
    top: 7.3vw;
    left: 40.8vw;
    border-radius: 2vw;
    
}

#detalles h1{
    position: absolute;
    font-size: 1.5vw;
    top: 3.7vw;
    left: 3.5vw;

}

#photo{
    position: absolute;
    width: 30vw;
    height: 19.5vw;
    border: 1px solid white;
    left: 54.6vw;
    top: 23.3vw;
    border-radius: 2vw;
}

#foto{
    width: 30vw;
    height: 19.5vw;
    border-radius: 2vw;
}

#event_date_utc h1{
    position: absolute;
    font-size: 0.9vw;
    left: 15vw;
    top: 30vw;

}



#article h1{
    position: absolute;
    font-size: 0.6vw;
    left: 15vw;
    top: 38vw;
    width: 30vw;
    height: 6vw;
    
   
}

#event-date{
    position: absolute;
    left: 15vw;
    top: 25vw;
    font-size: 2vw;
}

#articulo{
    position: absolute;
    left: 15vw;
    top: 33vw;
    font-size: 2vw;
}

#articl{
    position: absolute;
    font-size: 1vw;
    color: white;
    left: 15vw;
    top: 38vw;
    width: 11vw;
    height: 2vw;
    font-family: D;
    

}

#articl:hover{
    color: red;
    font-size: 1.2vw;
    top: 37.8vw;
}

.menu-container {
    position: absolute;
    width: 35%;
    background-color: transparent;
    margin-left: 21vw;
    width: 50vw;
    border: 4vw solid transparent;
    bottom: -2vh;
    border-bottom: 6vw solid #14213d;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    z-index: 2;
    font-size: 1vw;
    left: 5vw;
}
.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 3vw;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(187, 187, 187);
    z-index: 2;
}

.menu img {
    width: 2vw;
    height: 2vw;
    margin-bottom: 0.1vw;
    margin-top: 0.4vw;
    z-index: 2;
}

.menu li.active a {
    color: #ffffff;
    z-index: 2;
}

.menu li.active::after {
    content: '';
    display: block;
    width: 5vw;
    height: 0.2vw;
    background-color: #ffffff;
    margin-top: 0.2vw;
    border-radius: 0.1vw;
    z-index: 2;
}