@font-face {
    font-family: D;
    src: url(../storage/font/spacex/SpaceX.ttf);
}
@font-face {
    font-family: T;
    src: url(../storage/font/nebula/Equinox\ Regular.otf);
}
@font-face {
    font-family: S;
    src: url(../storage/font/nebula/Equinox\ Bold.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0e0f0e;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Header Section */
header {
    top: 3vh;
    position: absolute;
    width: 100vw;
    justify-content: center;
    display: flex;
    font-family: D;
    font-size: 1vw;
    font-weight: bold;
}

/* System Check Section */
.system-check {
    position: absolute;
    width: 30vw;
    height: 70vh;
    top: 4vh;
    z-index: 2;
}

.system-check #pa {
    margin-left: 6.5vw;
    margin-top: -1.4vw;
    font-family: S;
    font-size: 0.8vw;
}

.system-check img {
    margin-top: 2vw;
    margin-left: 4vw;
    width: 1.3vw;
}

.system-check #pb {
    margin-left: 6.5vw;
    margin-top: 0.1vw;
    font-family: T;
    font-size: 0.6vw;
    color: rgb(153, 153, 153);
}

/* Main Display Section */
.main-display {
    position: absolute;
    width: 53vw;
    height: 25vh;
    left: 22vw;
    top: 10vh;
    font-family: T;
}

svg {
    width: 20vw;
    height: 20vw;
    background-color: #151515;
}

.c1 {
    position: absolute;
    top: 0.6vw;
    left: 5vw;
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.237);
}

#color1 {
    fill: none;
    stroke-width: 0.4vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 15 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: rgb(255, 255, 0);
    animation: cargar 2s forwards ease-in-out;
}

#color2 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 65 100;
    transform: rotate(179deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}

.c2 {
    position: absolute;
    top: 0.6vw;
    left: 16vw;
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.237);
}

#color3 {
    fill: none;
    stroke-width: 0.4vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 7 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: rgb(255, 0, 0);
    animation: cargar 2s forwards ease-in-out;
}

#color4 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 73 100;
    transform: rotate(150deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}

.c3 {
    position: absolute;
    top: 0.6vw;
    left: 27vw;
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.237);
}

#color5 {
    fill: none;
    stroke-width: 0.4vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 15 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: rgb(255, 255, 0);
    animation: cargar 2s forwards ease-in-out;
}

#color6 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 65 100;
    transform: rotate(179deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}

.c4 {
    position: absolute;
    top: 0.6vw;
    left: 38vw;
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.237);
}

#color7 {
    fill: none;
    stroke-width: 0.4vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 20 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: #298bfe;
    animation: cargar 2s forwards ease-in-out;
}

#color8 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 60 100;
    transform: rotate(196deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}

@keyframes cargar {
    0% {
        stroke-dashoffset: 100;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.data-display1 h3 {
    position: absolute;
    left: 8.7vw;
    top: 3vw;
    font-size: 0.8vw;
    font-weight: lighter;
}

.data-display1 h2 {
    position: absolute;
    left: 8vw;
    top: 4vw;
    font-size: 2vw;
}

.data-display1 p {
    position: absolute;
    left: 8.7vw;
    top: 7vw;
    font-size: 1.1vw;
    font-weight: lighter;
}

.data-display2 h3 {
    position: absolute;
    left: 19vw;
    top: 3vw;
    font-size: 0.8vw;
    font-weight: lighter;
}

.data-display2 h2 {
    position: absolute;
    left: 19.1vw;
    top: 4vw;
    font-size: 2vw;
}

.data-display2 p {
    position: absolute;
    left: 20.1vw;
    top: 7vw;
    font-size: 1.1vw;
    font-weight: lighter;
}

.data-display3 h3 {
    position: absolute;
    left: 29.2vw;
    top: 3vw;
    font-size: 0.8vw;
    font-weight: lighter;
}

.data-display3 h2 {
    position: absolute;
    left: 29.5vw;
    top: 4vw;
    font-size: 2vw;
}

.data-display3 p {
    position: absolute;
    left: 31vw;
    top: 7vw;
    font-size: 1.1vw;
    font-weight: lighter;
}

.data-display4 h3 {
    position: absolute;
    left: 42vw;
    top: 3vw;
    font-size: 0.8vw;
    font-weight: lighter;
}

.data-display4 h2 {
    position: absolute;
    left: 41vw;
    top: 4vw;
    font-size: 2vw;
}

.data-display4 p {
    position: absolute;
    left: 41.2vw;
    top: 7vw;
    font-size: 1.1vw;
    font-weight: lighter;
}

/* Loop and Power Section */
.loop-power1 {
    position: absolute;
    width: 10vw;
    height: 20vh;
    left: 20vw;
    top: 33vh;
    font-family: T;
}

svg .a1 {
    width: 10vw;
    height: 10vw;
    background-color: #42d849;
}

.a1 {
    position: absolute;
    top: 0.6vw;
    left: 1vw;
    width: 7vw;
    height: 7vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.237);
}

#col1 {
    fill: none;
    stroke-width: 0.5vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 15 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: rgb(255, 255, 0);
    animation: cargar 2s forwards ease-in-out;
}

#col2 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 65 100;
    transform: rotate(179deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}
.loop1 h3 {
    position: absolute;
    left: 3.7vw;
    top: 2vw;
    font-size: 0.6vw;
    font-weight: lighter;
    z-index: 2;
}

.loop1 h2 {
    position: absolute;
    left: 3.5vw;
    top: 3.5vw;
    font-size: 1vw;
    z-index: 2;
}

.loop1 p {
    position: absolute;
    left: 3.5vw;
    top: 5.2vw;
    font-size: 0.7vw;
    font-weight: lighter;
    z-index: 2;
}

.a2 {
    position: absolute;
    top: 0.6vw;
    left: 9vw;
    width: 7vw;
    height: 7vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.237);
}

#col3 {
    fill: none;
    stroke-width: 0.5vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 7 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: rgb(255, 0, 0);
    animation: cargar 2s forwards ease-in-out;
}

#col4 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 73 100;
    transform: rotate(150deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}
.loop2 h3 {
    position: absolute;
    left: 11.7vw;
    top: 2vw;
    font-size: 0.6vw;
    font-weight: lighter;
    z-index: 2;
}

.loop2 h2 {
    position: absolute;
    left: 11.4vw;
    top: 3.5vw;
    font-size: 1vw;
    z-index: 2;
}

.loop2 p {
    position: absolute;
    left: 11.3vw;
    top: 5.2vw;
    font-size: 0.7vw;
    font-weight: lighter;
    z-index: 2;
}
.loop-power2 {
    position: absolute;
    width: 20vw;
    height: 20vh;
    left: 55vw;
    top: 33vh;
    font-family: T;
}

.a3 {
    position: absolute;
    top: 0.6vw;
    left: 5.8vw;
    width: 7vw;
    height: 7vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.237);
}
#col5 {
    fill: none;
    stroke-width: 0.5vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 15 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: rgb(255, 255, 0);
    animation: cargar 2s forwards ease-in-out;
}

#col6 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 65 100;
    transform: rotate(179deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}
.loop3 h3 {
    position: absolute;
    left: 8.6vw;
    top: 2vw;
    font-size: 0.6vw;
    font-weight: lighter;
    z-index: 2;
}

.loop3 h2 {
    position: absolute;
    left: 8.3vw;
    top: 3.5vw;
    font-size: 1vw;
    z-index: 2;
}

.loop3 p {
    position: absolute;
    left: 8.2vw;
    top: 5.2vw;
    font-size: 0.7vw;
    font-weight: lighter;
    z-index: 2;
}
.a4 {
    position: absolute;
    top: 0.6vw;
    left: 13.7vw;
    width: 7vw;
    height: 7vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.237);
}
#col7 {
    fill: none;
    stroke-width: 0.5vw;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-dasharray: 20 100;
    transform: rotate(125deg);
    transform-origin: 50%;
    stroke: #298bfe;
    animation: cargar 2s forwards ease-in-out;
}

#col8 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 60 100;
    transform: rotate(196deg);
    transform-origin: 50%;
    stroke: rgb(88, 88, 88);
}
.loop4 h3 {
    position: absolute;
    left: 16.5vw;
    top: 2vw;
    font-size: 0.6vw;
    font-weight: lighter;
    z-index: 2;
}

.loop4 h2 {
    position: absolute;
    left: 16.3vw;
    top: 3.5vw;
    font-size: 1vw;
    z-index: 2;
}

.loop4 p {
    position: absolute;
    left: 16.2vw;
    top: 5.2vw;
    font-size: 0.7vw;
    font-weight: lighter;
    z-index: 2;
}
/* Connections Section */
.connections {
    position: absolute;
    width: 15vw;
    height: 30vh;
    left: 20vw;
    top: 50vh;
    padding-left: 1.5vw;
    font-family: D;
}
.connections h3{
    padding-top: 0.5vw;
    font-size: 0.7vw;
}
.connections ul {
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    font-size: 0.8vw;
    font-family: S;
}
.connections p {
    padding-top: 1 vw;
}
#Information p{
    color: rgb(170, 170, 170);
    font-size: 0.7vw;
}
#Information span{
    color: rgb(255, 255, 255);
    font-family: t;
}

/* Imagenes Section */
.image_section {
    position: absolute;
    width: 21vw;
    height: 40vh;
    left: 38vw;
    top: 35vh;
    border-radius: 1vw;
}

.carousel-container {
    position: relative;
    width: 21vw;
    height: 40vh;
    overflow: hidden;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.422);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.237);
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    animation: fill 2s ease-in-out forwards; 
}
@keyframes fill {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* description Section */
#description_section{
    position: absolute;
    width: 55vw;
    height: 10vh;
    left: 22vw;
    top: 87.5vh;
    border-radius: 1vw;
    text-align: center;
    font-family: T;
    font-size: 0.7vw;
    z-index: 2;
}
/* Rockets Section */
.rockets {
    width: 12%;
    display: flex;
    gap: 2vw;
    margin-left: 80vw;
    margin-top: 80vh;
    text-align: center;
    z-index: 2;
}
.rockets a{
    text-decoration: none;
    color: white;
    font-family: D;
    font-size: 1vw;
    width: 40%;
    border-radius: 1vw;
    z-index: 2;
}

.rockets a:hover {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.863);
}

/* Main-Container */
.menu-container {
    position: absolute;
    width: 35%;
    background-color: transparent;
    margin-left: 21vw;
    width: 50vw;
    border: 4vw solid transparent;
    bottom: -3.5vh;
    border-bottom: 6vw solid #151515;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    z-index: 2;
    font-size: 1vw;
    left: 5vw;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 3vw;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(187, 187, 187);
    z-index: 2;
}

.menu img {
    width: 2vw;
    height: 2vw;
    margin-bottom: 0.1vw;
    margin-top: 0.4vw;
    z-index: 2;
}

.menu li:hover a {
    color: #ffffff;
    z-index: 2;
}
.menu li:hover hr {
    color: #ffffff;
    z-index: 2;
    opacity: 1;
}
.menu li hr {
    margin-top: 0.1vw;
    width: 5vw;
    height: 0.1vw;
    opacity: 0;
    background-color: #ffffff;
    border-radius: 2vw;
}

.linea {
    position: absolute;
    background-color: #151515;
    width: 100vw;
    height: 3vh;
    bottom: -1.5vh;
}

/* Velocity and Range Section */

.velocity-range {
    position: absolute;
    width: 20vw;
    height: 70vh;
    left: 77vw;
    top: 4vh;
    font-family: S;
}
.velocity-range  h3 {
    font-size: 0.9vw;
}
.velocity-range  p {
    font-size: 0.8vw;
}
.velocity-range #data-velocity h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity p {
    margin-top: -0.5vw;
    margin-left: 15vw;
}

.velocity-range #data-velocity2 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity2 p {
    margin-top: -0.5vw;
    margin-left: 15vw;
}

.velocity-range #data-velocity3 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity3 p {
    margin-top: -0.5vw;
    margin-left: 15vw;
}

.velocity-range #data-velocity4 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity4 p {
    margin-top: -0.5vw;
    margin-left: 15vw;
}

.velocity-range #data-velocity5 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity5 p {
    margin-top: -0.5vw;
    margin-left: 15vw;
}

.velocity-range #data-velocity6 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity6 p {
    margin-top: -0.5vw;
    margin-left: 15vw;
}

.bar {
    background-color: #30344c;
    height: 0.4vw;
    width: 12vw;
    margin-top: 4vw;
    border-radius: 8vw;
    overflow: hidden;
}

.porcent1 {
    width: 0;
    height: 100%;
    background-color: rgb(255, 255, 0);
    border: #298bfe;
    animation: fillBar 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}

.porcent2 {
    width: 0;
    height: 100%;
    background-color: #298bfe;
    border: #298bfe;
    animation: fillBar2 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar2 {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

.porcent3 {
    width: 0;
    height: 100%;
    background-color: #298bfe;
    border: #298bfe;
    animation: fillBar3 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar3 {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

.porcent4 {
    width: 0;
    height: 100%;
    background-color: rgb(255, 0, 0);
    border: #298bfe;
    animation: fillBar4 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar4 {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}

.porcent5 {
    width: 0;
    height: 100%;
    background-color: rgb(255, 255, 0);
    border: #298bfe;
    animation: fillBar5 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar5 {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}

.porcent6 {
    width: 0;
    height: 100%;
    background-color: rgb(255, 0, 0);
    border: #298bfe;
    animation: fillBar6 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar6 {
    from {
        width: 0;
    }

    to {
        width: 12%;
    }
}

/* Footer Section */

#home{
    position: absolute;
    width: 5vw;
    height: 1.5vw;
    border: 1px solid white;
    top: 39.5vw;
    left: 4vw;
    background-color: transparent;
    overflow: hidden;
    border-radius: 2px;
    font-family: D;
}


#home::before{
    content: '';
    bottom: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: bottom 0.3s ease;
}


#home:hover::before{
    bottom: 0;
}

#home:not(:hover)::before{
    bottom: 100%;
    transition: bottom 0.3s ease;
}

#TextHome{
    position: absolute;
    font-size: 0.8vw;
    color: white;
    padding-left: 0.7vw;
    padding-top: 0.15vw;
}

#TextHome:hover{
    color: black;
}

#cohete1{
    position: absolute;
    width: 100vw;
    height: 40vw;
    left: 0vw;
    top: 8vw;
    opacity: 0.6;
}
#menuHambur{
    display: none;
}
.menu-icon{
    display: none;
}
#cohete2{
    display: none;
}
/* Responsive */
@media (max-width: 768px) {

    
    body{
        background-color: #000000;
    }
    .linea{
        display: none;
    }
    #cohete2{
        display: block;
        position: absolute;
        width: 185vw;
        height: 61.5vh;
        left: 0vw;
        top: 68vw;
        z-index: -1;
        opacity: 0.5;
    }
    #cohete1{
        display: none;
    }
    header {
        top: 8vh;
        left: 23vw;
        font-size: 4vw;
    }
    .system-check {
        display: none;
    }
    .carousel-container {
        width: 42vw;
        height: 44vw;
        top: -11vh;
        left: -34vw;
        border-radius: 2vw;
    }

    .velocity-range {
        position: absolute;
        width: 45vw;
        height: 35vh;
        left: 50vw;
        top: 22vh;
        font-family: S;
    }
    .velocity-range  h3 {
        font-size: 2.5vw;
    }
    .velocity-range  p {
        font-size: 2vw;
    }
    .velocity-range #data-velocity h3 {
        margin-top: -4.5vw;
    }
    
    .velocity-range #data-velocity p {
        margin-top: -0.5vw;
        margin-left: 35vw;
    }
    
    .velocity-range #data-velocity2 h3 {
        margin-top: -4.5vw;
    }
    
    .velocity-range #data-velocity2 p {
        margin-top: -0.5vw;
        margin-left: 35vw;
    }
    
    .velocity-range #data-velocity3 h3 {
        margin-top: -4.5vw;
    }
    
    .velocity-range #data-velocity3 p {
        margin-top: -0.5vw;
        margin-left: 35vw;
    }
    
    .velocity-range #data-velocity4 h3 {
        margin-top: -4.5vw;
    }
    
    .velocity-range #data-velocity4 p {
        margin-top: -0.5vw;
        margin-left: 35vw;
    }
    
    .velocity-range #data-velocity5 h3 {
        margin-top: -4.5vw;
    }
    
    .velocity-range #data-velocity5 p {
        margin-top: -0.5vw;
        margin-left: 35vw;
    }
    
    .velocity-range #data-velocity6 h3 {
        margin-top: -4.5vw;
    }
    
    .velocity-range #data-velocity6 p {
        margin-top: -0.5vw;
        margin-left: 35vw;
    }
    
    .bar {
        background-color: #30344c;
        height: 1.5vw;
        width: 30vw;
        margin-top: 5vw;
        border-radius: 8vw;
        overflow: hidden;
    }

    .connections {
        position: absolute;
        width: 45vw;
        height: 30vh;
        left: 48vw;
        top: 54vh;
        padding-left: 1.5vw;
        font-family: D;
    }
    .connections h3{
        padding-top: 0.5vw;
        font-size: 2.4vw;
    }
    #Information p{
        font-size: 3vw;
    }
    #Information span{
        font-weight: bold;
    }
    
    .main-display {
        width: 50vw;
        height: 25vh;
        left: 2vw;
        top: 54vh;
    }
    .c1 {
        top: 0.6vw;
        left: 1vw;
        width: 20vw;
        height: 20vw;
    }
    
    #color1, #color3, #color5, #color7 {
        stroke-width: 2vw;
    }

    .c2 {
        top: 23vw;
        left: 1vw;
        width: 20vw;
        height: 20vw;
    }
    
    .c3 {
        top: 23vw;
        left: 24vw;
        width: 20vw;
        height: 20vw;
    }
    
    .c4 {
        top: 0.6vw;
        left: 24vw;
        width: 20vw;
        height: 20vw;
    }

    .data-display1 h3 {
        left: 8.7vw;
        top: 4.5vw;
        font-size: 2vw;
    }
    
    .data-display1 h2 {
        left: 6.8vw;
        top: 7vw;
        font-size: 5vw;
    }
    
    .data-display1 p {
        left: 9vw;
        top: 13vw;
        font-size: 2vw;
    }
    
    .data-display2 h3 {
        left: 5.2vw;
        top: 27vw;
        font-size: 2vw;
    }
    
    .data-display2 h2 {
        left: 6.8vw;
        top: 30vw;
        font-size: 5vw;
    }
    
    .data-display2 p {
        left: 9vw;
        top: 36vw;
        font-size: 2vw;
    }
    
    .data-display3 h3 {
        left: 28vw;
        top: 27vw;
        font-size: 1.5vw;
    }
    
    .data-display3 h2 {
        left: 29.5vw;
        top: 30vw;
        font-size: 5vw;
    }
    
    .data-display3 p {
        left: 32vw;
        top: 36vw;
        font-size: 2vw;
    }
    
    .data-display4 h3 {
        left: 32vw;
        top: 4.5vw;
        font-size: 2vw;
    }
    
    .data-display4 h2 {
        left: 29.5vw;
        top: 7vw;
        font-size: 5vw;
    }
    
    .data-display4 p {
        left: 31vw;
        top: 13vw;
        font-size: 2vw;
    }
    
    .loop-power1 {
        display: none;
    }
    .loop-power2 {
        display: none;
    }
    #description_section{
        position: absolute;
        width: 90vw;
        height: 10vh;
        left: 6vw;
        top: 80vh;
        border-radius: 1vw;
        text-align: center;
        font-family: T;
        font-size: 2.5vw;
        z-index: 2;
    }
    #home{
        position: fixed;
        width: 15vw;
        height: 4vw;
        border: 1px solid white;
        top: 8vw;
        left: 80vw;
        background-color: transparent;
        overflow: hidden;
        border-radius: 2px;
        font-family: D;
        z-index: 1;
    }
    #TextHome{
        position: absolute;
        font-size: 3vw;
        color: white;
        padding-left: 0.7vw;
        padding-top: 0.15vw;
    }
    
    .rockets {
        width: 40%;
        height: 8vw;
        display: flex;
        gap: 2vw;
        margin-left: 30vw;
        margin-top: 4vh;
        text-align: center;
        z-index: 2;
    }
    .rockets a{
        text-decoration: none;
        color: white;
        font-family: D;
        font-size: 3vw;
        width: 30%;
        border-radius: 6vw;
        z-index: 2;
        padding-top: 1.3vw;
    }
    
    /*#############################*/


    #menuHambur {
        display: none;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 10px;
        left: 15px;
        font-size: 40px;
        z-index: 1001;
        cursor: pointer;
        background: rgba(255, 255, 255, 0);
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    .menu{
        position: fixed;
        top: 0vw;
        left: -80%;
        width: 80%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.893);
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 50px;
        transition: 0.3s;
        z-index: 1000;
        overflow-y: auto;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        font-size: 4vw;
    }
    .menu ul{
        display: flex;
        flex-direction: column;
    }
    .menu img {
        width: 10vw;
        height: 10vw;
        z-index: 2;
    }
    .menu li a {
        margin-left:1vw ;
        margin-top: 10vw;
    }
    
    .menu li:hover a {
        color: #ffffff;
        z-index: 2;
        margin-left:4vw ;
    }
    .menu li:hover hr {
        color: #ffffff;
        z-index: 2;
        opacity: 1;
    }
    .menu li hr {
        width: 15vw;
        height: 0.4vw;
        opacity: 0;
        background-color: #ffffff;
        border-radius: 2vw;
    }
    #menuHambur:checked ~ .menu-container .menu {
        left: 0;
    }
}