@font-face {
    font-family: D;
    src: url(../storage/font/spacex/SpaceX.ttf);
}


@font-face {
    font-family: T;
    src: url(../storage/font/nebula/Equinox\ Regular.otf);
}
h1{
    font-family: d;
    font-size: 3vw;
    z-index: 2;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header{
    /* border: 1px solid rgb(255, 255, 255); */
    width: 100vw;
    justify-content: center;
    display: flex;
    margin-top: 2vw;
    border-radius: 2vw;
}

#here{
    position: absolute;
    font-size: 2vw;
    width: 20vw;
    height: 2vw;
    top: 8vw;
    /* border: 1px solid white; */
    left: 43vw;
    font-family: D;
}

#textCity{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 14vw;
    /* border: 1px solid white; */
    left: 44.5vw;
    font-family: T;
    z-index: 2;

}


#city{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 14vw;
    /* border: 1px solid white; */
    left: 47.5vw;
    font-family: T;
    z-index: 2;
}

#textState{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 16vw;
    /* border: 1px solid white; */
    left: 44.3vw;
    font-family: T;
}

#state{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 16vw;
    /* border: 1px solid white; */
    left: 48vw;
    font-family: T;

}

#textFounder{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 12vw;
    /* border: 1px solid white; */
    left: 44vw;
    font-family: T;
}

#founder{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 12vw;
    /* border: 1px solid white; */
    left: -5vw;
    font-family: T;
}

#textFounded{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 20vw;
    /* border: 1px solid white; */
    left: 3vw;
    font-family: T;
}

#founded{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 22vw;
    /* border: 1px solid white; */
    left: 4vw;
    font-family: T;
}

#textEmployees{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 8vw;
    left: -5vw;
    /* border: 1px solid white; */
    text-align: center;
    font-family: T;

}

#employees{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 10vw;
    left: -5vw;
    /* border: 1px solid white; */
    text-align: center;
    font-family: T;

}

#textVehicles{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 12vw;
    left: -5vw;
    /* border: 1px solid white; */
    text-align: center;
    font-family: T;

}

#vehicles{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 14vw;
    left: -5vw;
    /* border: 1px solid white; */
    text-align: center;
    font-family: T;

}

#textlaunch_sites{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 16vw;
    left: -5vw;
    /* border: 1px solid white; */
    text-align: center;
    font-family: T;

}

#launch_sites{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 18vw;
    left: -5vw;
    /* border: 1px solid white; */
    text-align: center;
    font-family: T;

}

#textCeo{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 8vw;
    left: 80vw;
    /* border: 1px solid white; */
    text-align: center;
    font-family: T;
}

#ceo{
    position: absolute;
    font-size: 0.8vw;
    width: 20vw;
    height: 2vw;
    top: 10vw;
    left: 80vw;
    /* border: 1px solid white; */
    text-align: center;
    font-family: T;
}

#textCoo{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 12vw;
    left: 80vw;
    /* border: 1px solid white; */
    text-align: center;
    font-family: T;
}

#coo{
    position: absolute;
    font-size: 0.8vw;
    width: 20vw;
    height: 2vw;
    top: 14vw;
    left: 80vw;
    /* border: 1px solid white; */
    text-align: center;
    font-family: T;

}

#textCto_propulsion{
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    height: 2vw;
    top: 16vw;
    left: 80vw;
    /* border: 1px solid white; */
    text-align: center;
    font-family: T;
}

#cto_propulsion{
    position: absolute;
    font-size: 0.8vw;
    width: 20vw;
    height: 2vw;
    top: 18vw;
    left: 80vw;
    /* border: 1px solid white; */
    text-align: center;
    font-family: T;

}



/* #headquarters{
    position: absolute;
    top: 8vw;
    font-size: 1.4vw;
    left: 1vw;
    
} */

#here{
    z-index: 2;
}

#cohete1{
    position: absolute;
    width: 100vw;
    height: 50vw;
    left: 0vw;
    top: -1vw;
    /* top: 6.7vw; */
    border-radius: 2vw;
    opacity: 0.6;
    
   
}

#photo{
    position: absolute;
    width: 30vw;
    height: 20vw;

    left: 67vw;
    top: 8vw;
    border-radius: 2vw;
}
#Elonk{
    position: absolute;
    width: 30vw;
    height: 18vw;
    border: 1px solid #ffffff ;
    border-radius: 2vw;
    /* box-shadow: 1px 1px 50px 3px #00bcd4 ; */
}

#Elonk1{
    position: absolute;
    width: 30vw;
    top: 19vw;
    height: 18vw;
    border: 1px solid rgb(92, 47, 151);
    border-radius: 2vw;
    box-shadow: 3px 5px 3px 3px ;
}


#sumary{
    position: absolute;
    font-size: 0.5vw;
    font-family: T;
    top: 44vw;
    width: 100%;
    text-align: center;
}


/* #carrusel{
    position: absolute;
    border: 1px solid white;
    width: 15vw;
    height: 18vw;
    top: 28vw;
    border-radius: 1vw;

}

#carrusel1{
    position: absolute;
    border: 1px solid white;
    width: 15vw;
    height: 18vw;
    top: 28vw;
    border-radius: 1vw;

}

#carrusel2{
    position: absolute;
    border: 1px solid white;
    width: 15vw;
    height: 18vw;
    top: 28vw;
    border-radius: 1vw;

} */
.image_section {
    position: absolute;
    width: 15vw;
    height: 18vh;
    top: 22.5vw;
    border-radius: 1vw;
    left: 42.5vw;
}

.carousel-container {
    position: relative;
    width: 15vw;
    height: 40vh;
    overflow: hidden;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.422);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.237);
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    animation: fill 2s ease-in-out forwards; 
    
}

/* ///////////////////// */

.image_section1 {
    position: absolute;
    width: 15vw;
    height: 18vh;
    top: 27.4vw;
    border-radius: 1vw;
    left: 22.5vw;
}

.carousel-container1 {
    position: relative;
    width: 15vw;
    height: 30vh;
    overflow: hidden;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.422);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.237);
}

.carousel1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#carouselImage1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    animation: fill 2s ease-in-out forwards; 
    
}

/* /////////////////////////////////////// */

.image_section2 {
    position: absolute;
    width: 15vw;
    height: 18vh;
    top: 27.4vw;
    border-radius: 1vw;
    left: 62.5vw;
}

.carousel-container2 {
    position: relative;
    width: 15vw;
    height: 30vh;
    overflow: hidden;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.422);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.237);
}

.carousel2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#carouselImage2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    animation: fill 2s ease-in-out forwards; 
    
}

@keyframes fill {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.menu-container {
    position: absolute;
    width: 35%;
    background-color: transparent;
    margin-left: 21vw;
    width: 50vw;
    border: 4vw solid transparent;
    bottom: -3.5vh;
    border-bottom: 6vw solid #151515;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    z-index: 2;
    font-size: 1vw;
    left: 5vw;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 3vw;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(187, 187, 187);
    z-index: 2;
}

.menu img {
    width: 2vw;
    height: 2vw;
    margin-bottom: 0.1vw;
    margin-top: 0.4vw;
    z-index: 2;
}

.menu li:hover a {
    color: #ffffff;
    z-index: 2;
}
.menu li:hover hr {
    color: #ffffff;
    z-index: 2;
    opacity: 1;
}
.menu li hr {
    margin-top: 0.1vw;
    width: 5vw;
    height: 0.1vw;
    opacity: 0;
    background-color: #ffffff;
    border-radius: 2vw;
}


.linea {
    position: absolute;
    background-color: #151515;
    width: 100vw;
    height: 3vh;
    bottom: -1.5vh;
}

#cuadro1{
    position: absolute;
    width: 14vw;
    height: 24vw;
    position: absolute;
    border: 1px solid white;
    border-radius: 2vw;
    border-color: #00bcd4;
}
